body {
    font-family: "Arial", sans-serif;
    background-color: black;
}

section {
    text-align: center;
}

.container {
    margin: auto;
    margin-top: 1em;
    width: 30em;
    height: 30em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}
.cell {
    width: 1em;
    height: 1em;
    color: white;
    border: 1px solid slategrey;
    font-size: 10em;
    text-align: center;
}

.game-name {
    display: flex;

}
